<h2>ユーザー編集</h2>
<div class="container">

  <%= form_with(model: @user, local: true ) do |form| %>

    <div class="row">
      <div class="form-group col-md-6">
        <%= form.label :名前 %>
        <%= form.text_field :name, class:'form-control' %>
      </div>
      <div class="form-group col-md-6">
        <%= form.label :なまえ %>
        <%= form.text_field :kana_name, class:'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-12">
        <%= form.label :性別 %><br>
        <%= form.select :gender, [["男性", "男性"], ["女性", "女性"]], class:'form-control' %>
      </div>
      <div class="form-group col-md-12">
        <%= form.label :メールアドレス %><br>
        <%= form.text_field :email, class:'form-control' %>
      </div>
      <div class="form-group col-md-12">
        <%= form.label :生年月日 %><br>
        <%= form.date_select :birthday, start_year: 1930, end_year:(Time.now.year - 5), class:'form-control' %>
      </div>
      <div class="form-group col-md-12">
        <%= form.label :住んでいる地域 %><br>
        <%= form.collection_select(:live, Area.all, :id, :area, class:'form-control') %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-12">
        <%= form.label :アイコン %>
        <%= image_tag (@user.icon.url), size: '100x100' if @user.icon.present? %>
      </div>
      <div class="form-group col-md-12">
        <%= form.file_field :icon %>
        <%= form.hidden_field :icon_cache %>
      </div>
    </div>

    <div class="actions">
      <%= form.submit "ユーザー情報を更新する", class:'btn btn-secondary'%>
    </div>
  <% end %>
</div>
