<h1>大会情報</h1>
<%= sort_link(@search,:the_day,'大会開催日') %>
<%= sort_link(@search,:created_at,'投稿日') %>
<%= sort_link(@search,:updated_at,'最終更新') %>

<%= page_entries_info @games %>
<div class="container">
  <% @games.order("created_at DESC").each do |game| %>
    <div class="card border-secondary">
      <div class="card-header">
        <strong><%= "【#{game.the_day}開催】" %></strong>
        <h3><%= "#{game.title}"%></h3>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          <% game.labelings.each do |labeling| %>
            <span class="badge badge-primary"><%= labeling.label.game_lebel %></span>
            <span class="badge badge-success"><%= labeling.label.game_size %></span>
            <span class="badge badge-danger"><%= labeling.label.game_event %></span>
          <% end %>
        </h5>
        <h4 class="card-text"><%= game.remark %></h4><br>
        <%= link_to '詳細', game, class:'btn btn-outline-primary btn-block' %>
        <%= "最終更新#{game.updated_at.strftime("%Y-%m-%d%H:%M")}" %>
        <div class="right-btn">
          <% if game.user_id == current_user.id %>
            <%= link_to '編集', edit_game_path(game), class:'btn btn-dark btn-sm' %>
            <%= link_to '削除', game, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-dark btn-sm' %>
          <% end %>
        </div>
      </div>
    </div><br>
  <% end %>
  <%= paginate @games %>
  <%= link_to '検索へ戻る', searchs_index_path, class: 'btn btn-light btn-sm' %>
</div>
