<h1>大会詳細</h1>
<strong><%= "最終更新 #{@game.updated_at.strftime("%Y-%m-%d%H:%M")}" %></strong>

<div class="container">
  <% @game.labeling_labels.each do |label| %>
    <span class="badge badge-primary"><%= label.game_lebel %></span>
    <span class="badge badge-success"><%= label.game_size %></span>
    <span class="badge badge-danger"><%= label.game_event %></span>
  <% end %>
</div><br>

<div class="container">
  <div class="game-show">
    <div class="card">
      <h3 class="card-header">日時/開催エリア</h3>
      <h4 class="card-body"><%= "#{@game.the_day} 開催" %></h4>
      <h4 class="card-body">
        <% @game.open_area_areas.each do |area| %>
          <%= area.area %>
        <% end %>
      </h4>
    </div>
  </div>

  <div class="game-show">
    <div class="card card-primary">
      <h3 class="card-header">大会名/概要</h3>
      <h4 class="card-body"><%= @game.title %></h4>
      <h4 class="card-body"><%= @game.remark %></h4>
    </div>
  </div>

  <div class="game-show">
    <div class="card card-primary">
      <h3 class="card-header">大会詳細</h3>
      <div class="card-body"><%= @game.content %></div>
    </div>
  </div>

  <div class="game-show">
    <div class="card card-primary">
      <h3 class="card-header">場所/参加費</h3>
      <h4 class="card-body"><%= @game.place %></h4>
      <h4 class="card-body"><%= "#{@game.price.to_s.reverse.gsub( /(\d{3})(?=\d)/, '\1,').reverse}円" %></h4>
    </div>
  </div>

  <div class="game-show">
    <div class="card card-primary">
      <h3 class="card-header">注意事項</h3>
      <div class="card-body"><%= @game.note %></div>
    </div>
  </div>
</div>

<div class="container">
  <%= image_tag @game.file_url.to_s, size: '250x250' if @game.file.present? unless @game.file.url.try(:include?, ".pdf") %>
  <%= link_to '添付ファイルをダウンロードする', @game.file.url, class: 'btn btn-primary btn-sm' if @game.file.present? %>
</div>

<div class="fv_en_click">
  <% unless @game.user_id == current_user.id %>
    <% if @favorite.present? %>
      <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-primary' %>
    <% else %>
      <%= link_to 'お気に入りする', favorites_path(game_id: @game.id), method: :post, class: 'btn btn-primary' %>
    <% end %>
  <% end %>

  <% unless @game.user_id == current_user.id %>
    <% if @entry.present? %>
      <%= link_to 'エントリーを解除する', entry_path(id: @entry.id), method: :delete, data: { confirm: 'エントリーを辞めますか?' }, class: 'btn btn-danger' %>
    <% else %>
      <%= link_to 'エントリーする', entries_path(game_id: @game.id), method: :post, class: 'btn btn-danger' %>
    <% end %>
  <% end %>
</div>


<div class="actions">
  <% if @game.user_id == current_user.id %>
    <%= link_to '編集', edit_game_path(@game), class: 'btn btn-light btn-sm' %>
    <%= link_to '戻る', games_path, class: 'btn btn-light btn-sm' %>
  <% end %>
</div>

<br>

<div class="container">
  <div class="alert alert-primary" role="alert">
    <h4>コメント一覧</h4>
    <div>
      <%= render partial: 'comments/index', locals: { comments: @comments, game: @game } %>
      <%= render partial: 'comments/form', locals: { comment: @comment, game: @game } %>
    </div>
  </div>
</div>
